*.md linguist-language=C++
*.cpp linguist-language=C++
*.hpp linguist-language=C++ 
*.h linguist-language=C++
*.xml linguist-language=C++
*.css linguist-language=C++ 
*.sql linguist-language=C++
*.uml linguist-language=C++ 
*.cmd linguist-language=C++
